.nbar {
    background: transparent;
    box-shadow: -7px -20px 20px 15px #000000;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.nombre-marca {
    color: black;
}

/* .number-products {
    color: white;
    display: flex;
    justify-content: center;
}

.carrito {
    width: 20px;

} */